{% extends "base.html" %} {% block head %}

<style>
  html {
    overflow-y: scroll;
    padding-top: 5rem;
  }
  body {
    font-size: 10px;
  }
  .container-fluid {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  #todo {
    transform: translateY(-30%);
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.3rem solid snow;
    border-radius: 0.5rem;
    padding: 2rem;
  }
  form {
    padding: 2rem;
  }
  form input {
    width: 10rem;
    height: 2rem;
    font-size: 0.9rem;
    text-align: center;
  }
  form button {
    margin-top: 1rem;
  }
  form div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
</style>
{% endblock %} {% block title %}
<title>Home Page</title>
{% endblock %} {% block body %}
<div class="container-fluid">
  <div id="todo">
    <h1>Your Todo List</h1>
    <form action="/add" method="POST">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="todoInput"
          aria-describedby="todoForm"
          placeholder="Enter Your Todo"
          name="todo"
        />
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
    {% for todo in todos %}
    <div>
      <p>{{todo.todo}}</p>
      <a href="/delete/{{todo._id}}">
        <img
          src="{{ url_for('static',filename='images/remove.png') }}"
          width="30rem"
          height="30rem"
        />
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  const bg = document.getElementsByTagName("body")[0];
  bg.style.backgroundColor = `#${Math.floor(Math.random() * 1000000)}`;
  setInterval(() => {
    bg.style.backgroundColor = `#${Math.floor(Math.random() * 1000000)}`;
    bg.style.transition = "background 2s";
  }, 3000);
</script>
{% endblock %}
